.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-card {
  width: 10%;
  background-color: rgb(43, 82, 5)
}

.menu {
  width:100px;
  height:100px;
  
}

.container {
  max-width: 24rem;
  margin: 1rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.navbar {
  
  width:40%;
  
 
  
}

.element1 {
  width:100px;
  display:inline-block;margin-right:10px;
} 
.element2 {
  width:100px;
  display:inline-block;
  margin-left:20px;
  margin-right:40px;
} 

.nav-element {
  padding: 20px
}

.services {
  width:40%;
  padding: 20px
}

.resources {
  width:40%;
  padding:20px
}